@mixin dp-flx ($flx: flex, $cntr: center) {
  display: $flx;
  align-items: $cntr;
  justify-content: $cntr;
}
@mixin no-lines ($nne: none) {
  border: none;
  outline: none;
}
@mixin input ($nne: none) {
  @include no-lines();
  font-family: 'Poppins', sans-serif;
  background: $nne;
  width: 100%;
  font-size: 1rem;
  padding: 0.3em 0.2em;
  border-bottom: 1px $primary-color-light solid;
}
@mixin button () {
  @include no-lines();
  text-transform: uppercase;
  border-radius: 6px;
  width: 100%;
  height: 3.8em;
  font-weight: 700;
  margin-top: 12px;
  padding: 8px;
  font-size: .8rem;
  color: $primary-color;
  box-shadow: -3px 7px 12px $shadow-color;
}

