$primary-color-dark: #0f7eee;
$primary-color: #cee3f8;
$primary-color-light: #b0a7a7;
$primary-text-color: #a0bcd7;
$primary-accent-color: #1e82e8;

$secondary-color-dark: #4595e6;
$secondary-color: #3db4cc;
$secondary-text-color: #0fa7c6;
$secondary-accent-color: rgba(0, 0, 255, 0.72);

$tertiary-color-dark: #454545;


$shadow-color: #4054;
