.container {
  @include dp-flx();
  width: 100%;
  height: 650px;

  &__form {
    display: grid;
    margin-top: 2em;
    gap: 1em;
    grid-template-rows: repeat(5, 1fr);
    width: 270px;
    text-align: center;
    position: relative;
    top: 110px;

    &--group {
      position: relative;

      input {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        background: none;
        font-size: 1rem;
        padding: 0.3em 0.2em;
        @include no-lines();
        border-bottom: 1px #b0a7a7 solid;

        &:focus {
          border-bottom: 1px #0f7eee solid;
        }

        &::placeholder {
          color: #b0a7a7;
        }
      }

      label {
        display: none;
        color: #454545;
        font-size: .95rem;
        font-weight: 300;
        position: absolute;
        transform: translateY(10px);
        transition: transform .5s, color .3s;
      }
    }

    button {
      @include no-lines();
      border-radius: 6px;
      text-transform: uppercase;
      width: 100%;
      height: 3.8em;
      color: #cee3f8;
      font-weight: 700;
      margin-top: 12px;
      padding: 8px;
      font-size: .8rem;
      box-shadow: -3px 7px 12px #4054;

      &:active {
        transition: .2ms ease;
      }
    }

    &--help {
      text-underline: none;
      text-decoration: none;
      text-align: center;
      font-weight: 400;
      color: #a0bcd7;
      margin-top: 1.3em;
    }

    &--log {
      background: #4595e6;

      &:active {
        background: #1e82e8;
      }

    }

    &--sign {
      background: #3db4cc;

      &:active {
        background: #0fa7c6;
        transition: .2s ease;
      }
    }
  }
}

input:focus + label {
  transform: translateY(-12px) scale(.6);
  transform-origin: left top;
  color: blue;
}
