.container {
  @include dp-flx();
  width: 100%;
  height: 650px;

  &__form {
    display: grid;
    text-align: center;
    position: relative;
    width: 270px;
    grid-template-rows: repeat(5, 1fr);
    margin-top: 2em;
    gap: 1em;
    top: 110px;

    &--group {
      position: relative;

      input {
        @include input();

        &:focus {
          border-bottom: 1px $primary-color-dark solid;
        }

        &::placeholder {
          color: $primary-color-light;
        }
      }

      label {
        display: none;
        position: absolute;
        font-size: .95rem;
        font-weight: 300;
        transform: translateY(10px);
        transition: transform .5s, color .3s;
        color: $tertiary-color-dark;
      }
    }

    button {
      @include button();

      &:active {
        transition: .2ms ease;
      }
    }

    &--help {
      text-underline: none;
      text-decoration: none;
      text-align: center;
      font-weight: 400;
      margin-top: 1.3em;
      color: $primary-text-color;
    }

    &--log {
      background: $secondary-color-dark;

      &:active {
        background: $primary-accent-color;
      }

    }

    &--sign {
      background: $secondary-color;

      &:active {
        background: $secondary-text-color;
        transition: .2s ease;
      }
    }
  }
}

input:focus + label {
  transform: translateY(-12px) scale(.6);
  transform-origin: left top;
  color: $secondary-accent-color;
}
